---
import Navbar from "../components/NavBar";
import Footer from "../components/Footer.astro";
import type { Code, Debug } from "astro:components";
interface Props {
  title: string;
}

const { title } = Astro.props;
const footerData = {
  links: [
    {
      title: "Links:",
      links: [
        { text: "Quiénes Somos", href: "#" },
        { text: "Grabado de Patentes", href: "#" },
        { text: "Blog", href: "#" },
        { text: "FAQs", href: "#" },
      ],
    },
  ],
  secondaryLinks: [
    { text: "Copyright Gravat 2024" },
    { text: "Todos los derechos reservados" },
  ],
  socialLinks: [
    {
      title: "Síguenos en Redes:",
      links: [
        { ariaLabel: "Facebook", icon: "tabler:brand-facebook", href: "#" },
        { ariaLabel: "LinkedIn", icon: "tabler:brand-linkedin", href: "#" },
        { ariaLabel: "Instagram", icon: "tabler:brand-instagram", href: "#" },
        { ariaLabel: "Youtube", icon: "tabler:brand-youtube", href: "#" },
      ],
    },
  ],
};

const headerData = {
  links: [
    {
      text: 'Quiénes Somos',
      href: "#",
    },
    {
      text: 'Grabado de Patentes',
      href: "#",
    },
    {
      text: 'Insumos',
      href: '#',
    },
    {
      text: 'Blog',
      href: '#',
    },
    {
      text: 'FAQs',
      href:  "#",
    },
  ],
  actions: [{ text: 'Acceso Clientes', href: '#', target: '_blank' }],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot name="header">
      <Navbar client:load {...headerData}/>
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer {...footerData} />
    </slot>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
